[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "source /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt",
  "python3 setup_deploy.sh"
]

[start]
cmd = "source /opt/venv/bin/activate && uvicorn app.main:app --host 0.0.0.0 --port $PORT"

